.container {
    display: flex;
    min-width: 280px;
    min-height: 400px;
    flex-direction: column;
    display: inline-block;
    margin: 20px;
    margin-bottom: 50px;
}

.content_top {
    margin: 0 auto;
}

.burger_img {
    width: 250px;
    height: 200px;
}

.content_title {
    text-align: center;
}

.all_content_list {
    background-color: rgb(210,210,210);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
}

.content_list_type {
    display: flex;
    justify-content: space-around;
}

.content_list_type span {
    margin: 5px;
    padding: 10px 15px;
}

.content_list_size {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin: 5px;
}

.content_footer {
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 5px 20px;
    background-color:rgb(170, 170, 170);
    border-radius: 5px;
}

.types {
    list-style-type: square;
    display: inline-block;
    background-color: silver;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
}
.active {
    list-style-type: none;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}

.button_footer {
    background-color: white;
    border: 1px solid orange;
    color: orange;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    cursor: pointer;
}


.disabled_size {
    opacity: 0.3;
    pointer-events: none;
}