.item {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    background-color: slategray;
    border-radius: 100px;
    color: white;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}
.active {
    background-color: black;
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    border-radius: 100px;
    color: white;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}